body { 
  margin: 0 auto;
  max-width: 50em;
  font-family: "Broadway", "Ravie", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #FFFFFF;
  background-color: #000000;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #FFFF33;
}